.运行 {
  position: relative;
  /*top: 70px;*/
  left: 20px;
  font-size: 26px;
}

.p5canvas {
  position: absolute;
  top: 0px;
}

#输入代码 {
  position: relative;
  /*top: -260px;
  left: -60px;*/
  height: 500px;
  width: 180px;
}